@model IEnumerable<CoffeeClubAPI.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shoutee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountShouted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shoutee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountShouted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
